name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *" # every day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: harshit2322-bit
          outputs: |
            dist/snake.svg
            dist/snake-dark.svg?palette=github-dark
      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist
